[submodule "keebio-components"]
	path = keebio-components
	url = https://github.com/keebio/keebio-components
[submodule "keebio-parts.pretty"]
	path = keebio-parts.pretty
	url = https://github.com/keebio/keebio-parts.pretty
[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "kbd"]
	path = kbd
	url = https://github.com/foostan/kbd
